.header-profile {
    background-color: green;
    color: white;
}

.nav-bar-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 2rem;
    height: 80px;
}

.nav-brand-profile {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-brand-profile h1 {
    font-family: 'Noto Serif JP', serif;
    font-size: 1.2rem;
    font-weight: 700;
    transition: color 0.3s;
}

.nav-brand-profile h1:hover {
    color: var(--quaternary-color);
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
}

.nav-list li a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s;
}

.nav-list li a:hover {
    color: var(--quaternary-color);
}

.button-exit {
    background-color: transparent;
    border: 2px solid var(--primary-color);
    padding: 3px 11px;
    border-radius: 9px;
    font-size: 22px;
    font-weight: 760;
    color: var(--primary-color);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.button-exit:hover {
    background-color: var(--quaternary-color);
    color: var(--primary-color);
}

/* Responsividade */
@media (max-width: 767px) {
    .nav-bar-profile {
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;
        height: auto;
    }

    .nav-brand-profile h1 {
        font-size: 1.2rem;
    }

    .nav-list {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

    .nav-list li a {
        font-size: 1rem;
    }
}
