.about-us-container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Noto Serif JP', serif;
    color: #333;
}

.section {
    margin-bottom: 40px;
}

.section-title {
    font-size: 1.8em;
    color: var(--tertiary-color);
    margin-bottom: 10px;
    text-align: center;
}
.section-title h2{
    color: var(--tertiary-color);
}

.section-description {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 20px;
    text-indent: 3rem;
}

.content-list {
    list-style-type: none;
    padding-left: 0;
}

.content-list li {
    margin-bottom: 10px;
}

.content-list strong {
    color: var(--tertiary-color);
}

.content-list span {
    color: #333;
}
