
.container-login {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--primary-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: "Playwrite CO", cursive;
    margin: 20px auto;
}

.title-login {
    text-align: center;
    color: var(--tertiary-color);
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.form-login {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-group input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    font-size: 1rem;
}

.btn-login {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    font-size: 1rem;
    cursor: pointer;
}


.link-login {
    text-align: center;
    color: var(--tertiary-color);
    font-size: 0.8rem;
    text-decoration: none;
}

.link-login:hover {
    text-decoration: underline;
}


