.container-one-post {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 500px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 2rem;
    background-color: var(--secondary-color);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(202, 168, 168, 0.2);
}

.mb-3 {
    margin-bottom: 2rem;
}

.mt-3 {
    margin-top: 2rem;
}

.img-post-individual {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.post-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: var(--sexagenary-color);
}

.post-content-one-post {
    font-size: 1rem;
    margin-bottom: 1rem;
    text-align: justify;
    text-indent: 50px;
    color: var(--quinquenary-color);
}

.post-date {
    color: #5e5b5b;
    font-size: 0.9em;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

@media (min-width: 700px) {
    .container-one-post{
        min-height: 850px;

    }
}
