.contact-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Playwright CO', serif;
    color: #333;
    text-align: center;
}

.contact-container h1 {
    font-size: 3em;
    color: var(--tertiary-color);
    margin-bottom: 20px;
}

.contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    justify-items: center;
}

/* Estilo para cada pessoa no contato */
.contact-person {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--sexagenary-color); /* Cor de fundo ajustada */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    transition: transform 0.3s, padding 0.3s;
    width: 100%;
    max-width: 300px;
}

.contact-person:hover {
    transform: scale(1.05);
}

/* Foto de contato com animação */
.contact-photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid var(--quaternary-color);
    transition: opacity 0.2s, transform 0.2s;
    /* Animação de movimento aplicada diretamente */
    animation: movePhoto 3s ease-in-out infinite; 
}

/* Animação de movimento para a foto */
@keyframes movePhoto {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

/* Informações de contato */
.contact-info {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s;
    text-align: center;
    width: 100%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.contact-person:hover .contact-info {
    opacity: 1;
}

/* Estilo do nome */
.contact-person h2 {
    font-size: 1.5em;
    color: var(--tertiary-color);
    margin-bottom: 10px;
}

/* Ícones sociais */
.social-icons {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-icons li {
    margin: 0;
}

.social-icons a {
    text-decoration: none;
    color: #333;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: var(--quaternary-color);
}

.icon {
    margin-right: 8px;
}

.icon.whatsapp {
    color: #25d366;
}

.icon.linkedin {
    color: #0077b5;
}

.icon.github {
    color: #333;
}

/* Estilo do h1 "Obrigado por entrar em contato!" */
.thank-you-message {
    margin-top: 40px;
    font-size: 2em;
    color: var(--tertiary-color);
}

/* Responsividade */
@media (max-width: 768px) {
    .contact-grid {
        grid-template-columns: 1fr;
    }
}
