@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+CO:wght@100..400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #ecf1f1;
    --secondary-color: #f7f7f7;
    --tertiary-color: #f70ff7;
    --quaternary-color: #e6bc18;
    --quinquenary-color: #000;
    --sexagenary-color: #008000FF;
}

.mb20 {
    margin-bottom: 20px;
}

.mt20 {
    margin-top: 20px;
}

a, a:hover {
    text-decoration: none;
    color: unset;
}

html, body {
    font-family: 'Noto Serif JP', serif;
}

body {
    background-image: url('./assets/images/background3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

body section {
    min-height: 960px;
}

/* Configurações do cabeçalho da aplicação */
header {
    background-color: var(--primary-color);
    box-shadow: 0 4px 7px rgba(250, 22, 201, 0.25);
}

/* Limita a largura no body e centraliza */
.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

/* .container {
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto;
    padding: 0 1rem; 
    border: 1px solid red;
}  */



/* Consultas de mídia para responsividade */
@media (max-width: 1200px) {
    .container {
        max-width: 90%;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 960px;
    }
   
}

@media (max-width: 768px) {
    .container {
        max-width: 100%;
    }
   
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 700px) {
    .container{
        min-height: 850px;
    }
}


