.container-create-account {
    width: 100%;
    max-width: 400px;
    padding: 40px;
    height: 600px;
    border-radius: 10px;
    background-color: var(--primary-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: "Playwrite CO", cursive;
    margin: 20px auto;
}



.title-create-account {
    text-align: center;
    color: var(--tertiary-color);
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.form-create-account {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-group input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    font-size: 1rem;
}

.form-group label {
    color: var(--tertiary-color);
    font-size: 1rem;
}


.btn-register{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 20px 0;
    border: none;
    border-radius: 5px;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    font-size: 1rem;
    cursor: pointer;
}

.btn-login:hover {
    background-color: var(--quaternary-color);
    transition: background-color 0.3s;
}

.link-create-account {
    text-align: center;
    color: var(--tertiary-color);
    font-size: 0.8rem;
    text-decoration: none;
}

.link-create-account:hover {
    text-decoration: underline;
}

/* Responsividade */

@media (max-width: 992px) {
    .container-create-account {
        width: 100%;
        padding: 20px;
        height: auto;
    }
}


